@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PRUEBA TECNICA TEKUS</h1>
    <p class="lead">Esta es una pagina web, con la prueba tecnica presentada para la empresa Tekus</p>
    <p><a href="http://www.tekus.co/" class="btn btn-primary btn-lg">Ver mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>
            Estos son los productos ofrecidos.
        </p>
        <p><a class="btn btn-default" href="http://www.tekus.co/#productos">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tekus Life</h2>
        <p>Esta es la vida de Tekus, donde se muestran eventos, invitaciones, proyectos, alianzas y nuevas implementaciones</p>
        <p><a class="btn btn-default" href="http://www.tekus.co/#tekuslife">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clientes y aliados</h2>
        <p>Estos son los clientes y aliados mas importantes de la familia Tekus</p>
        <p><a class="btn btn-default" href="http://www.tekus.co/#apoyan">Ver mas &raquo;</a></p>
    </div>
</div>